@font-face {
  font-family: "Inter-Variable";
  src: url(../fonts/Inter-Variable.woff2) format("woff2");
  font-weight: 400 700;
}

@font-face {
  font-family: "PressStart2P-Regular";
  src: url(../fonts/PressStart2P-Regular.woff2) format("woff2");
}
